include AUTHORS COPYING 
recursive-include ui *.png *.ui *.desktop 
recursive-include icons *.png
recursive-include locale */LC_MESSAGES/dfeet.mo
recursive-include help *.omf *.xml *.png
prune locale/src

